* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./assets/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  position: relative;
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  font-size: 4.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me {
  font-size: 1.2rem;
}

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.profile button {
  margin: 10px;
  display: inline-block;
  min-width: 100px;
  font-size: 2rem;
}

.nav-link {
  color: white;
  font-size: 1.1rem;
}

.section-header {
  margin: 20px auto;
  text-align: center;
  font-size: 3rem;
}

.section-header span {
  background-color: blue;
}

.resume a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.resume a:hover {
  color: blue;
  text-decoration: none;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

.call-me a {
  font-size: 2rem;
  color: black;
}


/* Excel */

.card-link {
  width: 100%;
  font-size: 1.8rem;
}

.card-img-top {
  height: 150px;
  object-fit: contain;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.section-header img {
  margin-right: 10px;
  max-width: 100%;
  height: auto;
}


/* responsiveness tablet */

@media (max-width: 767px) {
  .section-header {
    font-size: 1.7rem;
  }
  .hero-image {
    height: 100vh;
  }
  .card-img-top {
    height: 100px;
  }
}

@media (max-width: 768px) {
  .hero-text {
    margin-top: 0.8rem;
  }
  .hero-text h1 {
    font-size: 3.2rem;
  }
  .profile {
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile button {
    margin-top: 1.2rem;
    margin: 10px;
    min-width: 100px;
    font-size: 1.5rem;
  }
}

/* Mobile */

  @media (max-width: 425px) {
    .hero-text {
      margin-top: 0.5rem;
    }
    .hero-text h1 {
      font-size: 2.3rem;
    }

  .profile {
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile button {
    margin-top: 1.2rem;
    margin: 10px;
    min-width: 80px;
    font-size: 1rem;
  }
  .footer {
    font-size: 0.8rem;
  }
  .hero-image {
    height: 80vh;
  }
}

@media (min-width: 768px) {
  .profile {
    display: flex;
    align-items: center;
  }
  .profile button {
    margin: 10px 15px;
  }
}

